@font-face {
  font-family: "Barlow";
  src: url("polices/Barlow-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #f2eadb;
  font-family: "Barlow";
  padding: 0%;
  width: 100%;
}

#container {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0%;
  width: 100%;
}
#container > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 0px 10px black;
  background-color: #508066;
  font-size: 50px;
}
#container > header #titre {
  color: #f2eadb;
}
#container > header #panier {
  color: #f2eadb;
}
#container > header #panier span {
  font-size: 20px;
}
#container > footer {
  background-color: #508066;
  height: 100px;
  width: 100%;
  bottom: 0px;
  box-shadow: 0px 0px 10px black;
  padding-top: 10px;
  text-align: center;
}
#container > footer a {
  color: black;
}
@media (max-width: 599px) {
  #container > header {
    height: 70px;
    font-size: 25px;
  }
  #container > footer {
    height: 70px;
  }
  #container > footer h2, #container > footer a {
    font-size: 15px;
  }
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > header {
  width: 45%;
  text-align: center;
  font-size: 15px;
  color: #508066;
}
main > header p {
  font-size: 30px;
}
main .teddies, main #produit_teddies, main #formulaire {
  border-radius: 50px;
  background-color: #f3dbab;
  box-shadow: 0 0 10px black;
  text-align: center;
}

#index .teddies {
  display: flex;
  flex-direction: column;
  margin: 50px 0px 50px 0px;
  width: 500px;
  color: black;
  font-size: 30px;
  transition: all 500ms ease-in-out;
}
#index .teddies h2 {
  color: #508066;
}
#index .teddies img {
  border-radius: 50px 50px 0 0;
  height: 332px;
  width: 500px;
}
#index .teddies #texte_section {
  text-align: center;
  font-size: 25px;
  margin: 20px;
}
#index .teddies button {
  background-color: #508066;
  font-size: 20px;
  border: solid 2px #3c614d;
  border-radius: 50px;
  width: 60%;
  height: 30px;
  color: white;
}
#index .teddies button:focus {
  border: none;
  outline: none;
}
#index .teddies:hover {
  transform: scale(1.1);
}
@media (max-width: 599px) {
  #index header {
    width: 80%;
  }
  #index header h1, #index header p {
    font-size: 15px;
  }
  #index .teddies {
    width: 75%;
    margin: 25px 0 25px 0;
  }
  #index .teddies img {
    width: 100%;
    height: 75%;
  }
  #index .teddies #texte_section {
    font-size: 15px;
  }
  #index .teddies:hover {
    transform: none;
  }
}

#produit section {
  width: 80%;
  margin-bottom: 100px;
  font-size: 30px;
  padding-bottom: 50px;
}
#produit section img {
  width: 100%;
  border-radius: 50px 50px 0 0;
}
#produit section h2 {
  font-size: 50px;
}
#produit section select {
  background-color: #f2eadb;
  color: black;
  font-size: 15px;
  border: solid 3px black;
}
#produit section select option {
  background-color: #f2eadb;
}
#produit section #liens_produit {
  display: flex;
  justify-content: space-around;
}
#produit section button {
  background-color: #508066;
  font-size: 20px;
  border: solid 2px #3c614d;
  border-radius: 50px;
  width: 300px;
  height: 50px;
  color: white;
}
#produit section button:focus {
  border: none;
  outline: none;
}
#produit section button a {
  border-radius: 50px;
}
@media (max-width: 599px) {
  #produit header {
    width: 80%;
  }
  #produit header h1, #produit header p {
    font-size: 15px;
  }
  #produit section {
    font-size: 15px;
    margin-bottom: 50px;
  }
  #produit section h2 {
    font-size: 30px;
  }
  #produit section select {
    font-size: 10px;
  }
  #produit section button {
    width: 100px;
    height: 30px;
    font-size: 10px;
  }
}

#page_panier #panier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}
#page_panier #panier h1 {
  font-size: 35px;
  color: #508066;
  width: 100%;
}
#page_panier #panier #total {
  font-size: 35px;
  width: 200px;
  background-color: #f3dbab;
  border-radius: 5px;
  border: solid 2px #3c614d;
  color: black;
  margin: auto;
  margin-bottom: 20px;
}
#page_panier #panier #effacer {
  background-color: #db0303;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  border: solid 1px black;
}
#page_panier #panier #effacer:focus {
  border: none;
  outline: none;
}
#page_panier #panier #quantite {
  margin-right: 10px;
}
#page_panier #panier article {
  display: flex;
  justify-content: space-between;
  background-color: #f3dbab;
  border-radius: 0px;
  width: 70%;
  margin: auto;
  margin-bottom: 15px;
  height: 100px;
  font-size: 35px;
  box-shadow: 0 0 10px black;
}
#page_panier #panier article h2 {
  font-size: 35px;
}
#page_panier #panier article img {
  height: 100px;
}
#page_panier #formulaire {
  width: 70%;
  margin-bottom: 100px;
  font-size: 30px;
}
#page_panier #formulaire label {
  color: black;
  margin-right: 30px;
  font-size: 30px;
  width: 30%;
}
#page_panier #formulaire input {
  width: 70%;
  font: 25px "arial";
}
#page_panier #formulaire div {
  margin: 40px;
  display: flex;
  justify-content: center;
}
#page_panier #formulaire button {
  margin-bottom: 30px;
  background-color: #508066;
  color: white;
  font-size: 20px;
  border: solid 2px #3c614d;
  border-radius: 50px;
  width: 60%;
  height: 30px;
}
#page_panier #formulaire button:focus {
  border: none;
  outline: none;
}
@media (max-width: 799px) {
  #page_panier #panier {
    margin-bottom: 50px;
  }
  #page_panier #panier h1 {
    font-size: 15px;
  }
  #page_panier #panier #total {
    font-size: 20px;
    width: 150px;
  }
  #page_panier #panier article {
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
    height: 60px;
    font-size: 15px;
    box-shadow: 0 0 5px black;
  }
  #page_panier #panier article h2 {
    font-size: 15px;
  }
  #page_panier #panier article img {
    height: 60px;
  }
  #page_panier #formulaire {
    width: 90%;
    margin-bottom: 50px;
    font-size: 30px;
  }
  #page_panier #formulaire h2 {
    font-size: 20px;
  }
  #page_panier #formulaire label {
    margin-right: 30px;
    font-size: 15px;
    width: 30%;
  }
  #page_panier #formulaire input {
    width: 70%;
    height: 20px;
    font-size: 15px;
  }
  #page_panier #formulaire div {
    margin: 20px;
  }
}

#confirmation {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#confirmation section {
  width: 100%;
}
#confirmation #recap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}
#confirmation #recap h1 {
  font-size: 35px;
  color: #508066;
  width: 100%;
}
#confirmation #recap #quantite {
  margin-right: 10px;
}
#confirmation #recap article {
  display: flex;
  justify-content: space-between;
  background-color: #f3dbab;
  border-radius: 0px;
  width: 70%;
  margin: auto;
  margin-bottom: 15px;
  height: 100px;
  font-size: 35px;
  box-shadow: 0 0 10px black;
}
#confirmation #recap article h2 {
  font-size: 35px;
}
#confirmation #recap article img {
  height: 100px;
}
#confirmation #total {
  font-size: 35px;
  text-align: center;
  width: 200px;
  background-color: #f3dbab;
  border-radius: 5px;
  border: solid 2px #3c614d;
  color: black;
  margin: auto;
  margin-bottom: 20px;
}
#confirmation #commande {
  text-align: center;
}
#confirmation #commande p {
  font-size: 30px;
  color: black;
}
#confirmation footer {
  margin-bottom: 100px;
  background-color: #508066;
  border: solid 2px #3c614d;
  border-radius: 50px;
  width: 300px;
  height: 30px;
  text-align: center;
}
#confirmation footer:focus {
  border: none;
  outline: none;
}
#confirmation footer a {
  color: white;
  font-size: 25px;
}
@media (max-width: 799px) {
  #confirmation header {
    font-size: 15px;
  }
  #confirmation #commande p {
    font-size: 20px;
  }
  #confirmation #recap {
    margin-bottom: 50px;
    font-size: 15px;
  }
  #confirmation #recap #total {
    font-size: 20px;
    width: 150px;
  }
  #confirmation #recap article {
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
    height: 60px;
    font-size: 15px;
    box-shadow: 0 0 5px black;
  }
  #confirmation #recap article h2 {
    font-size: 15px;
  }
  #confirmation #recap article img {
    height: 60px;
  }
}

#mentions {
  text-align: center;
  width: 60%;
  margin: auto;
  font-size: 25px;
  margin-bottom: 50px;
}
#mentions header {
  color: black;
  width: 90%;
}
#mentions section {
  background-color: #f2eadb;
  box-shadow: none;
  border-radius: 0px;
  width: 90%;
}
@media (max-width: 599px) {
  #mentions {
    width: 80%;
  }
  #mentions header p {
    font-size: 15px;
  }
  #mentions section {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
